@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Seaweed+Script&display=swap');

:root {
    --background-blue: #F3F8FF;
    --menu-text: #424D65;
    --menu-border-text: #D0E5F2;
    --white: #FFF;
    --black: #111;
    --menu-span-background: #FE5600;
    --menu-input: #04A8FF;
    --menu-signin-button: #DEF4FE;
    --container-h1: #00ACFF;
    --h2-color: #292E37;
    --p-color: #525D73;
    --bbb-granient_1: #45BFFF;
    --bbb-granient_2: #00A7FF;
    --watch-color: #19B0FF;
    --about-us-color: #10ADFF;
    --container_3-h1: #2A2E36;
    --container_4__buttons:#001CAF;
    --container_4__button-bg:#F5F7FF;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;

}

h2 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration-line: none;
}
ul {
    margin: 0;
    padding: 0;
}


li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;

}

.infromation {
    background-color: var(--background-blue);
    background-image: url('../css/img/container_1/note2.jpg'), url("../css/img/container_1/platform.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right, right bottom;
    height: 52rem;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.menu__logo {
    width: 6.25rem;
    height: 2.7rem;
    background: url("../css/img/container_1/logo.png") no-repeat;
}

.menu a:hover {
    color: var(--menu-input);
}

._row-buttons input:hover {
    color: var(--menu-span-background);
}

.menu a {
    color: var(--menu-text);
}

.menu__li5 {
    text-align: center;
    font-size: 11px;
    border-radius: 25px;
    border: 1px solid var(--menu-border-text);
    padding: 0.5rem 0.75rem;
}

.menu__li5 span {
    font-size: 12px;
    color: var(--white);
    background: var(--menu-span-background);
    border-radius: 25px;
    padding: 0.125rem 0.75rem;
}

._row-buttons {
    display: flex;
    gap: 1rem;
}

.menu__login {
    text-underline-offset: 6px;
    text-decoration-line: underline;
    text-decoration-color: var(--menu-input);
}

.menu__signin {
    color: var(--menu-input);
    background: var(--menu-signin-button);
    border-radius: 0.5rem;
    padding: 0.4rem 2.5rem;
}

/* CONTAINER 1 */
.container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
    padding: 125px 120px;
}

.container h1 {
    color: var(--container-h1);
    font-family: 'Seaweed Script', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
}

.container h2 {
    width: 461px;
    color: var(--h2-color);
    font-family: 'Poppins', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 90px;
}

.container p {
    width: 388px;
    color: var(--p-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

._big-blue-button {
    color: var(--white);
    background: linear-gradient(90deg, var(--bbb-granient_1) 27.8%, var(--bbb-granient_2) 98.65%);
    border-radius: 8px;
    padding: 24px 37px;
}

._watch {
    color: var(--watch-color);
}

._watch-play {
    background: url("../css/img/container_1/watch.png") no-repeat;
    background-size: 62px 62px;
    width: 62px;
    height: 62px;
}

/* CONTAINER 2 */
.container_2 {

    width: 90rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 45rem;
    font-family: 'Poppins', sans-serif;
}

.txt_about-us {
    color: var(--about-us-color);
    font-size: 20px;
    text-transform: uppercase;
    line-height: 35px;
}

.container_2__get-start {
    display: flex;
    justify-content: space-between;
}

.txt_getstarted {
    width: 431px;
    color: var(--h2-color);
    font-size: 50px;
    line-height: 58px;
}

.txt_viewall {
margin-right: 10rem;
}

.container_2__blocks {
    height: 15rem;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    font-size: 28px;
}

.block_faster {
    color: var(--black);
}

.block_faster::before {
    vertical-align: middle;
    content: url("../css/img/container_2/faster.png");
    padding-right: 1rem;
}

.block_cheeper {
    color: var(--black);
}

.block_cheeper::before {
    vertical-align: middle;
    content: url("../css/img/container_2/cheaper.png");
    padding-right: 1rem;
}

.block_at-hand {
    color: var(--black);
}

.block_at-hand::before {
    vertical-align: middle;
    content: url("../css/img/container_2/athand.png");
    padding-right: 1rem;
}

.container_2__blocks li:hover  {
    box-shadow: 0 0 0 6px #fff, 0 0 0 12px #888;
    border-radius: 25px;
}

.container_2__blocks li {
    width: 362px;
    height: 170px;
}


/* CONTAINER 3*/

.container_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 69rem;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}

.container_3 h1 {
    width: 581px;
    text-align: center;
    color: var(--container_3-h1);
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
}

.container_3 h2 {
    display: flex;
    width: 443px;
    color: var(--h2-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}
.container_3 h2::before {
    display: flex;
    position: absolute;
    width: 65px;
    height: 65px;
    content: url("../css/img/container_3/edu.png");
}

.container_3 p {
    display: flex;
    width: 426px;
    color: var(--p-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.14px;
}

.__picture{
    display: flex;
    position: absolute;
    width: 597px;
    height: 546px;
    content: url("../css/img/container_3/phone.png");

}

/* CONTAINER 4*/

.container_4 {
    height: 45rem;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    padding: 120px 80px;
}

.pages {
    position: absolute;
    width: 671px;
    height: 569px;
    content: url("../css/img/container_4/pages.png");
}
.container_4 h2 {
    width: 443px;
    color: var(--h2-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    padding-left: 1150px;
}
.container_4 h2::before {
    position: absolute;
    width: 65px;
    height: 65px;
    content: url("../css/img/container_4/arrow.png");
    margin-top: -70px;
    margin-left: -15px;
}

.container_4 p {
    width: 426px;
    color: var(--p-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.14px;
    padding-left: 1150px;
}

.container_4-buttons {
    padding-left: 1150px;
    width: 310px;
}

.container_4__monthly {
    width: 150px;
    height: 96px;
    color: var(--container_4__buttons);
    background: var(--container_4__button-bg);
    border-radius: 25px;
}

.container_4__yearly {
    width: 150px;
    height: 96px;
    color: var(--white);
    background: var(--container_4__buttons);
    border-radius: 25px;
}

.container_4 input:hover {
    color: var(--menu-span-background);
}

/* CONTAINER 5*/

.container_5 {
    height: 25rem;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    padding: 100px 120px;
}

.statistics {
    position: absolute;
    width: 671px;
    height: 569px;
    content: url("../css/img/container_5/statistics.png");
    padding-left: 1120px;
}

.container_5 h2 {
    width: 421px;
    color: var(--h2-color);
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}
.container_5 h2::before {
    position: absolute;
    width: 65px;
    height: 65px;
    content: url("../css/img/container_5/union.png");
    margin-top: -70px;
    margin-left: -15px;
}

.container_5 p {
    width: 405px;
    color: var(--p-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.14px;
}
.container_5 p::before {
    position: absolute;
    width: 671px;
    height: 569px;
    content: url("../css/img/container_5/statistics.png");
    padding-left: 1150px;
    margin-top: -250px;
}

/* CONTAINER 6 */

.container_6 {
    height: 45rem;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    padding: 240px 120px;
}

.container_6 h1 {
    width: 50%;
    text-align: center;
    color: var(--container_3-h1);
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    padding: 56px 460px;
}

.container_6 div {
    align-content: center;
    height: 120%;
    background: url('../css/img/container_6/3 cards.png') no-repeat;
    margin-top: -15%;
    margin-left: 15%;
}

/* CONTAINER 7*/

.container_7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-blue);
    height: 35rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



.container_7 h2 {
    width: 745px;
    color: var(--h2-color);
    font-size: 85px;
    font-weight: 700;
    line-height: 90px;
}

.container_7 p {
    width: 388px;
    color: var(--p-color);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

._row-buttons {
    display: flex;
    gap: 1rem;
}

._big-blue-button {
    color: var(--white);
    background: linear-gradient(90deg, var(--bbb-granient_1) 27.8%, var(--bbb-granient_2) 98.65%);
    border-radius: 8px;
}

._watch {
    color: var(--watch-color);
}

._watch-play {
    background: url("../css/img/container_1/watch.png") no-repeat;
    background-size: 62px 62px;
    width: 62px;
    height: 62px;
}

/* FOOTER */