@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Seaweed+Script&display=swap');

:root {
    --background-blue: #F3F8FF;
    --menu-text: #424D65;
    --menu-border-text: #D0E5F2;
    --white: #FFF;
    --black: #111;
    --menu-span-background: #FE5600;
    --menu-input: #04A8FF;
    --menu-signin-button: #DEF4FE;
    --container-h1: #00ACFF;
    --h2-color: #292E37;
    --p-color: #525D73;
    --bbb-granient_1: #45BFFF;
    --bbb-granient_2: #00A7FF;
    --watch-color: #19B0FF;
    --about-us-color: #10ADFF;
}

body {
    padding: 0;
    margin: 25px;
}

h1 {
    margin: 0;

}

h2 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration-line: none;
}

li {
    list-style-type: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;

}

.infromation {
    background-color: var(--background-blue);
    background-image: url('../css/img/header/note2.jpg'), url("../css/img/header/platform.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right, right bottom;
    height: 52rem;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.menu__logo {
    width: 6.25rem;
    height: 2.7rem;
    background: url("../css/img/header/logo.png") no-repeat;
}

.menu a:hover {
    color: var(--menu-input);
}

._row-buttons input:hover {
    color: var(--menu-span-background);
}

.menu a {
    color: var(--menu-text);
}

.menu__li5 {
    text-align: center;
    font-size: 11px;
    border-radius: 25px;
    border: 1px solid var(--menu-border-text);
    padding: 0.5rem 0.75rem;
}

.menu__li5 span {
    font-size: 12px;
    color: var(--white);
    background: var(--menu-span-background);
    border-radius: 25px;
    padding: 0.125rem 0.75rem;
}

._row-buttons {
    display: flex;
    gap: 1rem;
}

.menu__login {
    text-underline-offset: 6px;
    text-decoration-line: underline;
    text-decoration-color: var(--menu-input);
}

.menu__signin {
    color: var(--menu-input);
    background: var(--menu-signin-button);
    border-radius: 0.5rem;
    padding: 0.4rem 2.5rem;
}

/* CONTAINER 1 */
.container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2rem;
    padding: 125px 120px;
}

.container h1 {
    color: var(--container-h1);
    font-family: 'Seaweed Script', sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
}

.container h2 {
    width: 461px;
    color: var(--h2-color);
    font-family: 'Poppins', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 90px;
}

.container p {
    width: 388px;
    color: var(--p-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

._big-blue-button {
    color: var(--white);
    background: linear-gradient(90deg, var(--bbb-granient_1) 27.8%, var(--bbb-granient_2) 98.65%);
    border-radius: 8px;
    padding: 24px 37px;
}

._watch {
    color: var(--watch-color);
}

._watch-play {
    background: url("../css/img/header/watch.png") no-repeat;
    background-size: 62px 62px;
    width: 62px;
    height: 62px;
}

/* CONTAINER 2 */
.container_2 {
    height: 25rem;
    background-color: var(--background-blue);
    font-family: 'Poppins', sans-serif;
    padding: 125px 120px
}

.txt_about-us {
    color: var(--about-us-color);
    font-size: 20px;
    text-transform: uppercase;
    line-height: 35px;
}

.container_2__get-start {

}

.txt_getstarted {
    width: 431px;
    color: var(--h2-color);
    font-size: 50px;
    line-height: 58px;
}

.txt_viewall {
    padding-left: 95rem;
}

.container_2__blocks {
    line-height: 110px;
    font-size: 28px;
    padding-top: 7.25rem;

}

.block_faster {
    color: var(--black);
    padding-left: 20rem;

}

.block_faster::before {
    position: absolute;
    content: url("../css/img/container/faster.png");
    margin-left: -120px;
}

.block_cheeper {
    color: var(--black);
    padding-left: 25rem;
}

.block_cheeper::before {
    position: absolute;
    content: url("../css/img/container/cheaper.png");
    margin-left: -150px;
    margin-top: -30px;
}


.block_at-hand {
    color: var(--black);
    padding-left: 25rem;
}

.block_at-hand::before {
    position: absolute;
    content: url("../css/img/container/athand.png");
    margin-left: -150px;
}